@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #08295b;
  --gray-light: #f5f7fb;
  --secondary: #0ea5e9;
  /* --secondary: #15a7eb; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta), sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray-light: var(--gray-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --primary: #08295b;
    --secondary: #0ea5e9;
    --gray-light: #f5f7fb;
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), Arial, Helvetica, sans-serif;
}
